# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

.venv

# Database/credentials
*.db
*.sqlite3
*.log
*.bak
*.pem
*.key
.env
config.ini
*.properties
credentials.env