name: FastAPI CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  linting-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run linting
        run: |
          # Dừng build nếu có lỗi cú pháp Python hoặc biến chưa định nghĩa
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # Cảnh báo style code nhưng không dừng build (exit-zero)
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Run tests
        env:
          PYTHONPATH: .
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_DB: test_db
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
          SECRET_KEY: test_secret_key
        run: |
          pytest

  build-and-push:
    needs: linting-and-test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - name: Deploy EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          SSH_HOST: ${{ secrets.EC2_HOST }}
          SSH_USERNAME: ${{ secrets.EC2_USER }}

          IMAGE_TAG: ${{ github.sha }}
          POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

          ECR_REGISTRY: ${{ secrets.AWS_ACCESS_KEY_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY_URI }}

        with:
          host: ${{ env.SSH_HOST }}
          username: ${{ env.SSH_USERNAME }}
          key: ${{ env.SSH_PRIVATE_KEY }}
          envs: ECR_REGISTRY,ECR_REPOSITORY,IMAGE_TAG,POSTGRES_HOST,POSTGRES_DB,POSTGRES_USER,POSTGRES_PASSWORD, AWS_REGION,AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_KEY
          script: |
            export AWS_ACCESS_KEY_ID=${{ env.AWS_ACCESS_KEY_ID }}
            export AWS_SECRET_ACCESS_KEY=${{ env.AWS_SECRET_ACCESS_KEY }}
            export AWS_DEFAULT_REGION=${{ env.AWS_REGION }}

            REGISTRY_DOMAIN=$(echo $ECR_REPOSITORY | cut -d'/' -f1)

            echo "Registry Domain: $REGISTRY_DOMAIN"
            echo "Full Image URI: $ECR_REPOSITORY:$IMAGE_TAG"


            echo "Logging in..."
            aws ecr get-login-password --region "${{ secrets.AWS_REGION }}" | docker login --username AWS --password-stdin "$REGISTRY_DOMAIN"

            echo "Pulling image: $ECR_REPOSITORY:$IMAGE_TAG"
            docker pull $ECR_REPOSITORY:$IMAGE_TAG

            echo "Stopping old container..."
            docker stop backend || true
            docker rm backend || true

            echo "Starting new container..."
            docker run -d \
              --name backend \
              --restart always \
              -p 80:8000 \
              -e POSTGRES_HOST=$POSTGRES_HOST \
              -e POSTGRES_PORT=$POSTGRES_PORT \
              -e POSTGRES_DB=$POSTGRES_DB \
              -e POSTGRES_USER=$POSTGRES_USER \
              -e POSTGRES_PASSWORD=$POSTGRES_PASSWORD \
              -e SECRET_KEY=$SECRET_KEY \
              $ECR_REPOSITORY:$IMAGE_TAG
            docker image prune -f
            echo "Deployment completed."
